<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{151,34}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{151,34}}</string>
                <key>sourceSize</key>
                <string>{191,38}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{161,34}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,34}}</string>
                <key>sourceSize</key>
                <string>{191,38}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{173,34}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{173,34}}</string>
                <key>sourceSize</key>
                <string>{191,38}</string>
            </dict>
            <key>loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{187,34}}</string>
                <key>sourceSize</key>
                <string>{191,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{191,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aa444eaa7480867bd7b0c4d05aea4db$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
