<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,778},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,778},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,600},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,600},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,778},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,778},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,768},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,768},{69,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,51}}</string>
                <key>sourceSize</key>
                <string>{69,51}</string>
            </dict>
            <key>coin11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,636},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,768},{56,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{56,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,768},{56,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{56,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,781},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2024,2},{54,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{54,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,120},{54,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{54,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,804},{54,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{54,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,64},{54,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{54,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,778},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,580},{54,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,778},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,744},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,716},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{54,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,554},{54,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{54,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,246},{54,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{54,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,688},{54,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,778},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{54,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin11_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,524},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{54,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>coin21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,490},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,626},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,717},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,692},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{62,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{60,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{60,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,792},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,29},{60,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,566},{60,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{60,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,472},{60,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{60,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,653},{62,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,765},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{62,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,709},{62,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,776},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{62,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,716},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,26},{60,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,538},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,29},{60,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,717},{60,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{60,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,776},{62,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{62,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,653},{62,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{62,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>coin21_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,538},{62,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>gun21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,712},{87,112}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{87,112}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,672},{95,150}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,16},{95,150}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,672},{119,158}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{119,158}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,254},{131,160}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{131,160}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,566},{113,144}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{113,144}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,712},{87,112}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,48},{87,112}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,712},{129,112}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{129,112}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,430},{135,150}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{135,150}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,254},{151,158}}</string>
                <key>offset</key>
                <string>{-9,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{151,158}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,254},{167,160}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{167,160}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,566},{143,144}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{143,144}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>gun2_31_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,712},{129,112}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,48},{129,112}}</string>
                <key>sourceSize</key>
                <string>{195,280}</string>
            </dict>
            <key>lock_flag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,490},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,428},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,428},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,492},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,430},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_flag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,650},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lock_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,756},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>net21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,650},{62,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,149},{62,60}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,516},{78,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,148},{78,62}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,416},{106,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,138},{106,84}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,717},{128,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,138},{128,82}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,716},{148,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,131},{148,98}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{170,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,128},{170,104}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,472},{192,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,125},{192,110}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,478},{214,128}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,115},{214,128}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,262},{252,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,106},{252,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{356,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,59},{356,242}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,608},{260,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,100},{260,158}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net21_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,508},{258,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,99},{258,162}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,516},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,148},{62,62}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,546},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{78,78}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,546},{104,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,127},{104,102}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,416},{126,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,118},{126,120}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,567},{148,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,106},{148,146}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,258},{170,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,98},{170,164}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,584},{192,190}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{192,190}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,258},{214,212}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,73},{214,212}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{252,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{252,250}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{358,352}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{358,352}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{260,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{260,258}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net31_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{260,254}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{260,254}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,768},{56,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,150},{56,58}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,712},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{78,78}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,712},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{106,106}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,416},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,116},{126,128}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,416},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{148,148}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,256},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,95},{170,170}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,584},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{192,192}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,262},{214,214}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,72},{214,214}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{252,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{252,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{358,358}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,246},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,50},{260,260}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>net41_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,2},{250,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,54},{250,252}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>netImg.png</string>
            <key>size</key>
            <string>{2044,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:116796d499b13df97c5a6144c22eeca9$</string>
            <key>textureFileName</key>
            <string>netImg.png</string>
        </dict>
    </dict>
</plist>
